@import "../src/common/colors.scss";


a {
    text-decoration: none;
    color: $font-primary;
}

body {
    background: $primary-color;
}

.container {
    margin: 0px 40px;
    min-height: 85vh;
}

.no-result {
    color: $font-primary;
    font-size: 50px;
}