@import "../../common/colors.scss";

.card-item {
    background: $secondary-color;
    cursor: pointer;
    transition: all 0.3s;
    min-height: 400px;
    height: 100%;
    margin: 10px;

    &:hover {
        scale: 1.1;
        transition: all 0.3s;
    }

    &--inner {
        &_top {
            height: 300px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.card-bottom {
    &-info {
        color: $font-primary;
        padding: 10px;

        h4 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 10px;
            hyphens: auto;
        }
    }
}